.term {
    opacity: 1;
    padding-top: 10px;
    padding-left: 20px;
    overflow-x: hidden;
}

.term:after {
    content: "_";
    opacity: 1;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}